$bgcolor: #F9FAFB;
$fontcolor: #22333b; 
$colorborder:  #fceee6;
$colorheaderfooter: #FAF5F2;
$fontfamily: 'Montserrat', sans-serif;
$border: solid 1px #22333b;
$bordercard:solid 2px #fceee6;
$spacingporcentaje:10%;
$spacingpixeles:10px;

